%p#notice= notice

%p
  %b Name:
  = category.name

%p
  - category.products.each do |product|
    = link_to product.title, category_product_url(category, product)

- if !current_user.nil?
  %p
    = link_to 'Add new product', new_category_product_path(category)

- if !current_user.nil? && current_user.admin?
  = link_to 'Edit', edit_category_path(category)
  \|
= link_to 'Back', categories_path, class: 'btn btn-primary'
