%p#error= flash[:error]

%h3
  = product.title
  - if !current_user.nil? && (current_user.admin? || product.user == current_user)
    .btn-group.btn-group-xs
      = link_to 'Edit', edit_category_product_path(product.category, product), :class => 'btn btn-default'
      = link_to 'Destroy', category_product_path(product.category, product), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default'

%table.table.table-hover
  %tr
    %th{:scope => 'row', :class => 'col-sm-2'}
      Description
    %td{:class => 'col-sm-10'}
      = product.description
  %tr
    %th{:scope => 'row', :class => 'col-sm-2'}
      Price
    %td{:class => 'col-sm-10'}
      = product.price
  %tr
    %th{:scope => 'row', :class => 'col-sm-2'}
      Average Rating
    %td{:class => 'col-sm-10'}
      = product.average_rating

%h3 Reviews
.container
  = render reviews

- if !current_user.nil?
  %h3 Submit your own review
  = render 'reviews/form'

%hr

= link_to "Back to #{category.name}", category_products_path, class: 'btn btn-default'