!!!
%html{ lang: 'en' }
  %head
    %title
      = content_for?(:title) ? content_for(:title) : "ROR Workshops Category App"
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    %nav.navbar.navbar-default
      .container
        .navbar-header
          = link_to root_url, :class => 'navbar-brand' do
            #{AppConfig.workshops_name}
        .navbar-right
          %ul.nav.navbar-nav
            - if current_user.nil?
              %li= link_to 'Sign in', new_user_session_path
              %li= link_to 'Sign up', new_user_registration_path
            - else
              %li= link_to 'Edit account', edit_user_registration_path
              %li= link_to 'Sign out', destroy_user_session_path, :method => :delete
    .container
      .row
        .col-lg-12
          = yield